<ion-content class="myview">
  <div class="full-page">
    <div class="header">
      <fa-icon class="header-txt ft-s" [icon]="faArrowLeft"></fa-icon>
      <p class="header-txt mg-8">Image</p>
    </div>
    <div class="image-txt-container">
      <p class="image-txt-area">Share pictures of social distancing practiced at outlet & get 13 points!</p>
      <div class="offer">
        <fa-icon class="file-cl-ic-2" [icon]="faCoins"></fa-icon>
        <p class="file-txt">100</p>
       </div>
    </div>
    <ion-row class="image-card">
      <ion-col class="image-card-container" size="6">
        <ion-card class="image-card-sub-container">
            <ion-card-content>
    
            </ion-card-content>
        </ion-card>
      </ion-col>
        <ion-col class="image-card-container" size="6">
          <ion-card class="image-card-sub-container">
              <ion-card-content>
      
              </ion-card-content>
          </ion-card>
        </ion-col>
    </ion-row>
    </div>
</ion-content>
