.myview{
    background-size: 100% 100%;
    --background: #181B2C;
  }
  .full-page{
    display: flex;
    height: 100%;
    padding: 5% 3% 2% 3%;
    flex-direction: column;
  }
  .logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0% 6% 0% 6%;
    height: 40%;
  }
  .logo-img{
    width: 30%;
    height: 45%;
  }
  .txt-area{
    --background: transparent;
    width: 100%;
    border-bottom: 2px solid #f47920;
    --inner-border-width: 0px;
    --border-width:0px;
  }
  .lb-txt{
    color: #F47920 !important;
    font-size: 16px !important;  
    text-align: center;
  }
  .input-xontainer{
    display: flex;
    flex-direction: column;
    padding: 0% 2% 0% 2%;
  }
  .first-btn{
    --background:#F47920;
    --background-activated:#F47920;
    color: #FFFFFF;
   border: 1px solid #707070;
    --border-radius:0px;
    font-size: 19px;
    height: 56px;
    width: 178px;
    margin-top: 10%;
    --border-radius: 12px;
  }
  .white {
    color:#FFFFFF ;
    font-size: 30px;
  }
  .btn-container{
  display: flex;
  justify-content: center;
  }
  .otp-btn{
    display: flex;
    height: 10%;
    font-size: 20px;
    color: #BFC1CB7A;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  