<ion-content class="myview">
  <div class="full-page">
    <div class="header">
      <ion-row class="header-container"> 
        <ion-col size="6">
          <p class="header-txt">Debasish</p>
        </ion-col>
        <ion-col size="6">
          <fa-icon class="icon-style cl-ic-1" [icon]="faShoppingCart"></fa-icon>
          <fa-icon class="icon-style cl-ic-1" [icon]="faBell"></fa-icon>
          <fa-icon class="icon-style cl-ic-2" [icon]="faCoins"></fa-icon>
          <span class="header-nb">9876</span>
        </ion-col>
      </ion-row>
    </div>
    <div class="over-flow">
    <div class="txt-area">
      <p class="header-txt">oct 2020 </p>
      <p class="date-txt">Last Updated on 9/12/2020</p>
    </div>
    <div class="img-container">
      <img src="../../assets/img/1280px-Stanley_Hand_Tools_logo.svg.png" alt="">
    </div>
    <div class="card-area">
      <div class="card-txt">
        <p class="card-point">Total points Earned</p>
        <span class="card-nb">3000</span>
      </div>
      <div class="card-pt-container">
        <div class="card-txt">
          <p class="card-point">Stanlay</p>
          <span class="card-nb">1000</span>
        </div>
        <div class="card-txt">
          <p class="card-point">Dewalt</p>
          <span class="card-nb">1000</span>
        </div>
        <div class="card-txt">
          <p class="card-point">B & D</p>
          <span class="card-nb">1000</span>
        </div>
      </div>
    </div>
    <div class="space-bar"></div>
    <div class="file-uploader">
     <fa-icon class="file-icon-style file-cl-ic-2" [icon]="faCoins"></fa-icon>
     <p class="file-txt">Invoice Upload</p>
    </div>
    <div class="space-bar"></div>
    <div class="card-container">
    <div class="offer">
     <fa-icon class="offer-icon-style file-cl-ic-2" [icon]="faBell"></fa-icon>
     <p class="file-txt">Schemes & Offers</p>
    </div>
    <div class="offer">
     <fa-icon class="offer-icon-style file-cl-ic-2" [icon]="faCoins"></fa-icon>
     <p class="file-txt">Schemes & Offers</p>
    </div>
  </div>
  <div class="space-bar"></div>
    <div class="card-container">
    <div class="offer">
     <fa-icon class="offer-icon-style file-cl-ic-2" [icon]="faCoins"></fa-icon>
     <p class="file-txt">Enrollment</p>
    </div>
    <div class="offer">
     <fa-icon class="offer-icon-style file-cl-ic-2" [icon]="faCoins"></fa-icon>
     <p class="file-txt">Rewards</p>
    </div>
  </div>
  <div class="space-bar"></div>
    <div class="card-container">
    <div class="offer">
     <fa-icon class="offer-icon-style file-cl-ic-2" [icon]="faCoins"></fa-icon>
     <p class="file-txt">Orders and Approval</p>
    </div>
    <div class="offer">
     <fa-icon class="offer-icon-style file-cl-ic-2" [icon]="faCoins"></fa-icon>
     <p class="file-txt" (click) = "engagement()">Engagements</p>
    </div>
  </div>
</div>
  </div>
</ion-content>
