<ion-content  class="myview">
<div class="full-page">
  <div class="logo">
    <img class = "logo-img" src="../../assets/logo/log.png.png" alt="">
    <div class="txt-area">
      <p class="welcome-note">Welcome to Loyalty APP</p>
      <p class="txt-note">Please Select Your Profile from Below to get Started</p>
    </div>
  </div>
  <div class="button-container">
    <ion-button  class="first-btn" expand="block" (click)="mobileScreen()">Dealer
      <ion-icon class="cl" name="people" slot="start"></ion-icon>
    </ion-button>
    <ion-button  class="first-btn" expand="block" (click)="mobileScreen()">Sub-Dealer
      <ion-icon name="people" class="cl" slot="start"></ion-icon>
    </ion-button>
    <ion-button  class="first-btn" expand="block" (click)="mobileScreen()">Influencer
      <ion-icon name="people" class="cl" slot="start" (click)="mobileScreen()"></ion-icon>
    </ion-button>
    <ion-button  class="first-btn" expand="block">Sales Representative
      <ion-icon name="people" class="cl" slot="start" (click)="mobileScreen()"></ion-icon>
    </ion-button>
  </div>
</div>
</ion-content>
