.myview{
    background-size: 100% 100%;
    --background: #181B2C;
  }
  .full-page{
    display: flex;
    height: 100%;
    padding: 5% 3% 2% 3%;
    flex-direction: column;
  }
  .logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0% 6% 0% 6%;
    height: 40%;
  }
  .logo-img{
    width: 30%;
    height: 45%;
  }
  .txt-area{
    display: flex;
    flex-direction: column;
  }
  .welcome-note{
    color: #FFD505;
    font-size: 22px;
    margin: 0%;
    padding-top: 14%;
    text-align: center;
  }
  .txt-note{
    color: #F6F6F7;
    font-size: 14px;
  }
  .button-container{
    display: flex;
    flex-direction: column;
    height: 38%;
    justify-content: space-around;
  }
  .first-btn{
    --background:#00000057;
   border: 1px solid #707070;
    --border-radius:0px;
    font-size: 18px;
    height: 61px;
  }
  .first-btn::part(native .button-inner){
    
      display: flex;
      justify-content: stretch;
    
  }
  .cl{
    color: #FFD505;
  }
  .bd{
    border: 1px solid #707070;
  }